<div class="main">
    <ul>
        <li [routerLink]="'cbs'" [routerLinkActive]="'active'">CYBERBIONIC SYSTEMATICS Training Center (FrontEnd developer course)</li>
        <li [routerLink]="'knukim'" [routerLinkActive]="'active'">KYIV NATIONAL UNIVERSITY OF CULTURE AND ARTS(specialty "Information activities and documentation")</li>
        <li [routerLink]="'lstts'" [routerLinkActive]="'active'">LUGANSK CONSTRUCTION TECHNICUM OF TRANSPORT CONSTRUCTION (computer clerk with computer knowledge)</li>
        <li [routerLink]="'nadu'" [routerLinkActive]="'active'">NATIONAL ACADEMY FOR PUBLIC ADMINISTRATION under THE PRESIDENT OF UKRAINE (specialty “State regulation of the economy and entrepreneurship”)</li>
    </ul>
<div class="container">
     <router-outlet></router-outlet>
</div>
   
</div>
