<div class="wrapper">
<div class="personal-data">
  <img src="../assets/img/foto.jpg" alt="Photo">
  <div class="my-contacts">
    <p>Voievodina Iuliia</p>
    <p>&#9990;: +380501051549</p>
    <p>	&#9993;: vjn21@ukr.net</p>
    <p><img  src="../assets/img/174857.svg" alt="linkedin">: <a href="https://www.linkedin.com/in/iuliiavoievodina">linkedin.com/in/iuliiavoievodina</a></p>
    <p><img src="../assets/img/2111609.svg" alt="Skype">: vn_juliya</p>
  </div>
</div>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/technologies" routerLinkActive="active">Technologies</a>
  <a routerLink="/experience" routerLinkActive="active">Experience</a>
  <a routerLink="/education" routerLinkActive="active">Education</a>
  <a routerLink="/more" routerLinkActive="active">More information</a>
</nav>
</div>
<router-outlet></router-outlet>