<h2>Languages:</h2>
<ul>
    <li>English – intermediate;</li>
    <li>Russian – fluent;</li>
    <li>Ukrainian –fluent;</li>
</ul>

<h2>Soft Skills:</h2>
<ul>
    <li>easy ability to learn, confirming previous excellent results;</li>
    <li>ability to work in multitasking mode;</li>
    <li>high analytical abilities;</li>
    <li>willingness to learn and acquire new knowledge and skills;</li>
    <li>high personal motivation;</li>
    <li>desire to work and develop;</li>
    <li> ability to work in a team;</li>
    <li>attention to detail;</li>
    <li>initiative</li>
    <li>responsibility</li>
</ul>